.li {
  align-items: center;
  background-color: var(--brown-color);
  color: var(--beige-color);
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  margin: 0.25em 0;
}

.li:not(.marked-favorite):hover {
  background-color: var(--dark-brown-color);
}

.li > span {
  flex-grow: 1;
  font-family: Parisienne;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 0.25em 0 0.25em 1em;
}

.li.marked-favorite, .li.marked-favorite > i {
  background-color: var(--light-brown-color);
}
