.pagination-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination-container > button, .pagination-container > button > i {
  border-radius: 50%;
}

@media (min-width: 341px) {
  .pagination-container {
    column-gap: 0.5em;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 381px) {
  .pagination-container {
    column-gap: 1em;
  }
}

