.pagination-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.pagination-container > button, .pagination-container > button > i {
  border-radius: 50%;
}
