.container {
  align-items: center;
  background-color: var(--brown-color);
  border-radius: 50%;
  color: var(--beige-color);
  display: flex;
  font-weight: 600;
  height: 3.5em;
  justify-content: center;
  padding: 0.5em;
  width: 3.5em;
}

.container:active,
.container:hover {
  background-color: var(--dark-brown-color);
  cursor: pointer;
}
