.btn {
  background-color: var(--brown-color);
  border: unset;
  color: var(--beige-color);
  cursor: pointer;
  display: flex;
  flex-basis: 100%;
  font-size: 1.5em;
  justify-content: center;
  margin: 0.25em;
  max-width: calc(100% / 7);
  padding: 0.5em 1em;
}

.marked {
  background-color: var(--light-brown-color);
  color: var(--dark-brown-color);
}
