.button {
  font-size: 2em;
}

.header {
  align-self: center;
  font-size: 2em;
  padding: 0.5em;
}

.icon-button {
  align-items: center;
  background-color: var(--brown-color);
  color: var(--beige-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.icon-hover {
  background-color: var(--dark-brown-color);
}
