.button {
  font-size: 2em;
}

.header {
  align-self: center;
  font-size: 2em;
  padding: 0.5em;
}

.icon-button {
  padding: 1.25em;
}

.icon-hover {
  background-color: var(--dark-brown-color);
}
