.header {
  background-color: var(--brown-color);
  color: var(--beige-color);
  display: flex;
}

.header > h1 {
  font-family: Parisienne, serif;
  font-weight: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

@media (max-width: 480px) {
  .header {
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .header {
    flex-direction: column;
    text-align: center;
    width: 200px;
  }
}
